{% extends './base.html' %}
{% load static %}
{% block contents %}
<head>
    <title>Chat App</title>
    <link rel="stylesheet" href="{% static 'stylesheet2.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<div class="container">
    <div class="theme-list">
        <h2>Chat themes</h2>
          <div class="theme-item" >
           {{ theme.Newchat }}
          </div>
          <hr>
            <div class="back">
                <button>
                    <a href="{% url 'back_to_page' %}">ホーム画面に戻る</a>
                </button>
            </div>
    </div>
    <div class="chat">
        {% for message in messages.all %}
            {% if message.message != 'You are a helpful assistant.' %}
                {% if message.role != 'assistant' %}
                    <article>
                        <div class="message right">
                        <div class="text">{{ message.message }}</div>
                        <!--<div class="text">{{ message.role }}</div>-->
                        <div class="timestamp">{{ message.data_added }}</div>
                        <!--<p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>--> 
                        </div>
                    </article>
                {% else %}
                    <article>
                        <div >
                        <div class="text">{{ message.message }}</div>
                        <!--<div class="text">{{ message.role }}</div>-->
                        <!--<div class="timestamp">{{ message.data_added }}</div>-->
                        <!--<p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>--> 
                        </div>
                    </article>
                    <hr >
                {% endif %}
            {% endif %}
        {% endfor %}
          <form action="." method="post" class="form">
            {% csrf_token%} 
            {{ form_message.as_p }}
            <button class="btn btn-primary">送信</button>
          </form>  
    </div>
      
</div>
{% endblock %}

